Source: vtoydump
Section: utils
Priority: optional
Maintainer: Yutao Meng <mengyutao@deepin.org>
Build-Depends:
 debhelper (>= 11),
 gcc
Standards-Version: 4.5.0
Homepage: https://github.com/ventoy/vtoydump

Package: vtoydump
Architecture: amd64 arm64
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: A tool to get the ventoy information under OS.
